/* HTML  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Navbar */

.navbar-nav {
    margin-left: auto;

}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
}



.navbar {
    background-color: #fff;
}

.nav-link {
    border-radius: 4px;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: #fff;
    background-color: #000;
    border-radius: 4px;
}

.hello {
    background: url(./hunters-race-MYbhN8KaaEc-unsplash.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
}

.col-lg-6 {
    margin-right: auto;
}

.main h3 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

.main h6 {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    width: 50%;
    color: #fff;

}

.main .bt1 {
    height: 55px;
    width: 139px;
    background-color: rgb(233, 20, 109);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 15px;

}

.main .bt1:hover {
    background-color: rgb(174, 0, 73);
    color: #fff;

}

.main .bt2 {
    height: 55px;
    width: 139px;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: 1px solid rgb(233, 20, 109);
    border-radius: 5px;
    font-weight: bold;
}

#allbutton:hover {
    transition: all 0.5s;
}

.main .bt2:hover {
    background-color: rgb(174, 0, 73);
    color: #fff;

}

/* About  */

.about img {
    height: 500px;
    width: 1000px;

    -webkit-box-shadow: 6px 4px 29px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 4px 29px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 4px 41px -29px rgba(0, 0, 0, 0.75);
}

.aboutme {
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 750;
    text-align: center;


}

.progress {
    background-color: rgb(209, 198, 198);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 30px;
    width: 100%;


    -webkit-box-shadow: inset 1px -3px 176px -97px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 1px -3px 176px -97px rgba(0, 0, 0, 0.75);
    box-shadow: inset 1px -3px 176px -97px rgba(0, 0, 0, 0.75);

}

.pro-value1 {
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: #000;
    height: 30px;
    width: 0;


}

.progress p {
    color: #fff;
    padding: 12px;
    position: relative;
    top: -10px;
    font-size: 1rem;


}

.pro-value2 {
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: #000;
    height: 30px;
    width: 0;


}

.pro-value3 {
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: #000;
    height: 30px;
    width: 0;


}

.pro-value4 {
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: #000;
    height: 30px;
    width: 0;
}

.btn1 {
    height: 40px;
    width: 140px;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    margin-right: 25px;
}

.btn1:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    transition: all 0.5s;
}

.btn2 {
    height: 40px;
    width: 140px;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    margin-right: 25px;
}

.btn2:hover {
    background-color: transparent;
    color: #000;
    transition: all 0.5s;
    border: 2px solid #000;


}


/* Animation  */

@keyframes load1 {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

@keyframes load2 {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes load3 {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes load4 {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

/* Service  */

.services-head {
    font-size: 2.5rem;
    font-weight: 700;
}

.card {
    border: 1px solid lightgray;
    outline: none;
    align-items: center;
    box-shadow: -8px 6px 89px -65px rgba(0, 0, 0, 0.85);
    padding-top: 15px;

}

.card p {
    color: gray;
}

.circle {
    height: 70px;
    width: 70px;
    background-color: lightgray;
    color: #000;
    padding: 17px;
    padding-top: 15px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 50%;
}

.card:hover .circle {
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}

.contact1 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 700;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.link {
    text-decoration: none;
    color: #000;
}

.link:hover {
    color: rgb(80, 80, 80);
}

/* Media query */

@media (max-width:1400px) {
    .hello {
        background: url(./hunters-race-MYbhN8KaaEc-unsplash.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 650px;

    }

}

@media (max-width:992px) {
    .about img {
        position: relative;
        top: -70px;
    }
}

@media(max-width:990px) {
    .aboutme {
        margin-top: -20px;
        font-size: 2.5rem;
        font-weight: 750;
        text-align: center;
        margin-bottom: 40px;


    }
}


@media (min-width:900px) {
    #myBtn {
        width: 50px;
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 15px;
        border: none;
        outline: none;
        background-color: rgb(233, 20, 109);
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 50px;
        font-weight: 500;
    }

    #myBtn:hover {
        background-color: rgb(174, 0, 73);
    }

}
